    <div class="row justify-content-center">
      <div class="col-md-6">
          <h3 class="text-center" style="color:white;">Choose month</h3>
          <input class="form-control" type="month" name="month" id="month" value="2018-07">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
          <mat-tab-group style="background-color: lightblue">
              <mat-tab label="Budget" class="budgetLabel">
                <app-manage></app-manage>
              </mat-tab>
              <mat-tab label="Expenses">
                  <app-expense></app-expense>
              </mat-tab>
              <mat-tab label="Summary">
                  <div class="jumbotron" id="summary" style="background-color: #e6ffe6;">
                      <h4 class="text-center">Summary</h4>
                      <table class="table table-striped">
                        <thead >
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Group</th>
                            <th scope="col">Money left</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let expenseGroup of expenseGroups; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{expenseGroup.name}}</td>
                            <td>{{expenseGroup.money_left}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
          </mat-tab>
            </mat-tab-group>
      </div>
    </div>
    
    
    
  

